@charset "UTF-8";
@font-face {
    font-family: cabin;
    src: url(CabinSketch-Regular.ttf);
}

body{
    background-color: #FFE4E1;
    margin: 0%;
    font-family: cabin;
}

#titulo {
    text-align: center;
    font-size: 5em;
    box-sizing: content-box;
    background-color: #D2B48C;
    margin: 0%;
    border-bottom-right-radius:100px ;
    border-bottom-left-radius:100px ;
}
#pergunta {
    font-size: 3.5em;
    text-align: center;
}

.opcao {
    font-size: 2em;
    background-color: #D2B48C;
    box-sizing: border-box;
    padding: 25px;
    margin:40px;
    border-radius: 18px;
    cursor: pointer;
}
#lista {
    list-style-type:none;
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content: center;
}

.opcao:hover{
    background-color: #a7855a;
}

#swal2-html-container {
    font-size: 3em;
}

.swal2-confirm {
    font-size: 2em !important;
}